<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>hairdye</string>
		<key>ID</key>
		<integer>3400001</integer>
		<key>Action</key>
		<integer>0</integer>
		<key>Sound</key>
		<integer>0</integer>
		<key>FacePart</key>
		<array>
			<dict>
				<key>Type</key>
				<string>IF</string>
			</dict>
			
			
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>Path</key>
				<string>107_hair.png</string>
				<key>ORGBA</key>
				<string>100,0,0,0,120</string>
				<key>Rectangle</key>
				<string>0,0,64,64</string>
				<key>FilterType</key>
				<integer>20</integer>
				<key>MUType</key>
				<integer>6</integer>
				<key>Operation</key>
				<integer>4</integer>
				<key>NeedMask</key>
				<integer>1</integer>
			</dict>
			
		</array>
	</dict>
</array>
</plist>
