<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DrawArray</key>
		<array>
			<dict>
				<key>stepIndex</key>
				<string>1</string>
				<key>filterID</key>
				<string>1200</string>
				<key>fs</key>
				<string>MTFilter_OnlySkinFilter.fs</string>
				<key>vs</key>
				<string>MTFilter_Base2.vs</string>
				<key>inputArray</key>
				<array>
					<dict>
						<key>type</key>
						<string>0</string>
						<key>texture</key>
						<string></string>
						<key>matchInputID</key>
						<string>0</string>
					</dict>
					<dict>
						<key>type</key>
						<string>9</string>
						<key>texture</key>
						<string>bodyMask</string>
						<key>matchInputID</key>
						<string>1</string>
					</dict>
					<dict>
						<key>type</key>
						<string>2</string>
						<key>texture</key>
						<string>skin.png</string>
						<key>matchInputID</key>
						<string>2</string>
					</dict>
					<dict>
						<key>type</key>
						<string>9</string>
						<key>texture</key>
						<string>hairMask</string>
						<key>matchInputID</key>
						<string>3</string>
					</dict>
				</array>
				<key>uniformValueArray</key>
				<array>
					<dict>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformName</key>
						<string>skinAlpha</string>
						<key>uniformValue</key>
						<string>0.25</string>
					</dict>
					<dict>
						<key>uniformType</key>
						<string>2</string>
						<key>uniformName</key>
						<string>skinMask</string>
						<key>uniformValue</key>
						<string>1</string>
					</dict>
					<dict>
						<key>uniformType</key>
						<string>2</string>
						<key>uniformName</key>
						<string>hairMask</string>
						<key>uniformValue</key>
						<string>1</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
