<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DrawArray</key>
		<array>
			<dict>
				<key>stepIndex</key>
				<string>1</string>
				<key>filterID</key>
				<string>1113</string>
				<key>local_fs</key>
				<string></string>
				<key>local_vs</key>
				<string></string>
				<key>inputArray</key>
				<array>
					<dict>
						<key>type</key>
						<string>0</string>
						<key>texture</key>
						<string></string>
						<key>matchInputID</key>
						<string>0</string>
					</dict>
				</array>
				<key>uniformValueArray</key>
				<array>
					<dict>
						<key>uniformType</key>
						<string>2</string>
						<key>uniformName</key>
						<string>PrismType</string>
						<key>uniformValue</key>
						<string>2</string>
					</dict>
					<dict>
						<key>uniformType</key>
						<string>32</string>
						<key>uniformName</key>
						<string>TouchPoint</string>
						<key>uniformValue</key>
						<string>0.0,0.0</string>
					</dict>
					<dict>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformName</key>
						<string>Rotation</string>
						<key>uniformValue</key>
						<string>-1.0</string>
					</dict>
					<dict>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformName</key>
						<string>Zoom</string>
						<key>uniformValue</key>
						<string>1.0</string>
					</dict>
					<dict>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformName</key>
						<string>Displace</string>
						<key>uniformValue</key>
						<string>0.1</string>
					</dict>
					<dict>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformName</key>
						<string>BlurValue</string>
						<key>uniformValue</key>
						<string>0.1</string>
					</dict>
					<dict>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformName</key>
						<string>aberration</string>
						<key>uniformValue</key>
						<string>0.5</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
