<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string></string>
			<key>SpecialFacelift</key>
			<integer>1</integer>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>VectorDiagram</string>
					<key>GeneratePlistPath</key>
					<string>operation140198768796160.plist</string>
					<key>MaskPath</key>
					<array>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140198768796160/2100_140198768798240.png</string>
							<key>Rectangle</key>
							<string>18,74,243,180;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140198768796160/2107_140198768798240.png</string>
							<key>Rectangle</key>
							<string>0,0,280,280;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140198768796160/2108_140198768798240.png</string>
							<key>Rectangle</key>
							<string>87,111,108,36;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140198768796160/2110_140198768798240.png</string>
							<key>Rectangle</key>
							<string>107,111,68,64;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140198768796160/2114_140198768798240.png</string>
							<key>Rectangle</key>
							<string>28,28,210,99;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140198768796160/2119_140198768798240.png</string>
							<key>Rectangle</key>
							<string>109,167,65,40;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140198768796160/2195_140198768798240.png</string>
							<key>Rectangle</key>
							<string>17,111,243,148;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140198768796160/2199_140198768798240.png</string>
							<key>Rectangle</key>
							<string>0,0,280,280;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140198768796160/2200_140198768798240.png</string>
							<key>Rectangle</key>
							<string>0,0,280,280;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140198768796160/2202_140198768798240.png</string>
							<key>Rectangle</key>
							<string>103,119,76,23;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140198768796160/2400_140198768798240.png</string>
							<key>Rectangle</key>
							<string>27,130,227,133;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140198768796160/2404_140198768798240.png</string>
							<key>Rectangle</key>
							<string>73,98,138,28;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140198768796160/2405_140198768798240.png</string>
							<key>Rectangle</key>
							<string>0,0,280,280;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140198768796160/2406_140198768798240.png</string>
							<key>Rectangle</key>
							<string>33,153,218,76;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
					</array>
					<key>ID</key>
					<string>105553138411264</string>
					<key>Name</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
