<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>FacePart</key>
			<array>	
 				<!-- 插入渲染的滤镜（缩头滤镜） -->
                <dict>
                    <key>Type</key>
                    <string>Callback</string>
                    <key>CallbackConfigurationPath</key>
                    <string></string>
                </dict>
				<!-- 脸型;-->
                <dict>
                    <key>EdgeProtection</key>
                    <string>0</string>
                    <key>Type</key>
                    <string>FaceliftV2</string>
                    <key>NeedGender</key>
                    <string>0</string>
                    <key>MaskPath</key>
                    <array>
                        <!-- 新瘦脸（美图手机移植的缩脸）-->
                        <dict>
							<key>Path</key>
							<string>suolian.png</string>
							<key>BodyParts</key>
							<string>-1</string>
							<key>Rectangle</key>
							<string>0,0,280,280;</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>Grid_0_0.png</string>
							<key>BodyParts</key>
							<string>-1</string>
							<key>Rectangle</key>
							<string>88,111,106,34;</string>
							<key>GenerateType</key>
							<string>0</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>Grid_1_1.png</string>
							<key>BodyParts</key>
							<string>-1</string>
							<key>Rectangle</key>
							<string>88,108,105,68;</string>
							<key>GenerateType</key>
							<string>0</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>Grid_2_6.png</string>
							<key>BodyParts</key>
							<string>-1</string>
							<key>Rectangle</key>
							<string>10,21,262,233;</string>
							<key>GenerateType</key>
							<string>0</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>Grid_3_5.png</string>
							<key>BodyParts</key>
							<string>-1</string>
							<key>Rectangle</key>
							<string>76,174,132,64;</string>
							<key>GenerateType</key>
							<string>0</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>wanwaneyes.png</string>
							<key>BodyParts</key>
							<string>-1</string>
							<key>Rectangle</key>
							<string>81,103,119,44;</string>
							<key>GenerateType</key>
							<string>0</string>
						</dict>
					</array>
					<key>Configure</key>
					<array>
						<dict>
							<key>MaskIndex</key>
							<integer>0</integer>
							<key>Scale</key>
							<string>0.4</string>
						</dict>
						<dict>
							<key>MaskIndex</key>
							<string>1</string>
							<key>Scale</key>
							<string>0.4</string>
						</dict>
						<dict>
							<key>MaskIndex</key>
							<string>2</string>
							<key>Scale</key>
							<string>0.4</string>
						</dict>
						<dict>
							<key>MaskIndex</key>
							<string>3</string>
							<key>Scale</key>
							<string>0.4</string>
						</dict>
						<dict>
							<key>MaskIndex</key>
							<string>4</string>
							<key>Scale</key>
							<string>0.4</string>
						</dict>
						<dict>
							<key>MaskIndex</key>
							<string>5</string>
							<key>Scale</key>
							<string>0.35</string>
						</dict>
					</array>
					<key>FaceliftInfo</key>
					<array>
						<dict>
							<key>FacemeshType</key>
							<string>2108</string>
							<key>FacemeshParameters</key>
							<string>0.12,0.1,0,0.1,0</string>
							<key>Gender</key>
							<string>2</string>
							<key>Type</key>
							<string>0</string>
							<key>BodyParts</key>
							<string>10</string>
							<key>GnerateType</key>
							<string>0</string>
							<key>Index</key>
							<string>0</string>
						</dict>
						<dict>
							<key>FacemeshType</key>
							<string>2110</string>
							<key>FacemeshParameters</key>
							<string>0.76,0.56,0.35,0.8,0</string>
							<key>Gender</key>
							<string>2</string>
							<key>Type</key>
							<string>1</string>
							<key>BodyParts</key>
							<string>-1</string>
							<key>GnerateType</key>
							<string>0</string>
							<key>Index</key>
							<string>1</string>
						</dict>
						<dict>
							<key>FacemeshType</key>
							<string>2109</string>
							<key>FacemeshParameters</key>
							<string>-0.23,0,0,1.05</string>
							<key>Gender</key>
							<string>2</string>
							<key>Type</key>
							<string>6</string>
							<key>BodyParts</key>
							<string>-1</string>
							<key>GnerateType</key>
							<string>0</string>
							<key>Index</key>
							<string>2</string>
						</dict>
						<dict>
							<key>FacemeshType</key>
							<string>2199</string>
							<key>FacemeshParameters</key>
							<string>0.35,0,0,0.76,0.49,0,1,0.76,0,0.8,0.44,0.47,0.64,0.39,0.64,0.47,0.44,0.8,0,0.76,1,0,0.49,0.76,0,0,0,0,0.52,0.36,0,0.32,0.48,0,0.76,0.14,0.09,0.68,-0.64,0.68,0.09,0.14,0.76,0,0.48,0.32,0,0.36,0.52,0,0</string>
							<key>Gender</key>
							<string>2</string>
							<key>Type</key>
							<string>6</string>
							<key>BodyParts</key>
							<string>-1</string>
							<key>GnerateType</key>
							<string>0</string>
							<key>Index</key>
							<string>3</string>
						</dict>
						<dict>
							<key>FacemeshType</key>
							<string>2193</string>
							<key>FacemeshParameters</key>
							<string>0.65,0.23,0.27,0.13,0.27,-0.02,-0.06,-0.01,-0.11</string>
							<key>Gender</key>
							<string>2</string>
							<key>Type</key>
							<string>6</string>
							<key>BodyParts</key>
							<string>-1</string>
							<key>GnerateType</key>
							<string>0</string>
							<key>Index</key>
							<string>4</string>
						</dict>
						<dict>
							<key>FacemeshType</key>
							<string>2193</string>
							<key>FacemeshParameters</key>
							<string>1,0.28,0.2,0.24,0.19,0.04,0.04,0.08,0.03</string>
							<key>Gender</key>
							<string>2</string>
							<key>Type</key>
							<string>5</string>
							<key>BodyParts</key>
							<string>-1</string>
							<key>GnerateType</key>
							<string>0</string>
							<key>Index</key>
							<string>5</string>
						</dict>
						<dict>
							<key>FacemeshType</key>
							<string>2107</string>
							<key>FacemeshParameters</key>
							<string>0.13</string>
							<key>Gender</key>
							<string>2</string>
							<key>Type</key>
							<string>0</string>
							<key>BodyParts</key>
							<string>10</string>
							<key>GnerateType</key>
							<string>0</string>
							<key>Index</key>
							<string>6</string>
						</dict>
						<dict>
							<key>FacemeshType</key>
							<string>2403</string>
							<key>FacemeshParameters</key>
							<string>0.1</string>
							<key>Gender</key>
							<string>2</string>
							<key>Type</key>
							<string>6</string>
							<key>BodyParts</key>
							<string>-1</string>
							<key>GnerateType</key>
							<string>0</string>
							<key>Index</key>
							<string>7</string>
						</dict>
						<dict>
							<key>FacemeshType</key>
							<string>2114</string>
							<key>FacemeshParameters</key>
							<string>0.35</string>
							<key>Gender</key>
							<string>2</string>
							<key>Type</key>
							<string>6</string>
							<key>BodyParts</key>
							<string>-1</string>
							<key>GnerateType</key>
							<string>0</string>
							<key>Index</key>
							<string>8</string>
						</dict>
						<dict>
							<key>FacemeshType</key>
							<string>2402</string>
							<key>FacemeshParameters</key>
							<string>0.29,0.31,-0.03,-0.04,0.36,0.01,0.45,1.5</string>
							<key>Gender</key>
							<string>2</string>
							<key>Type</key>
							<string>0</string>
							<key>BodyParts</key>
							<string>-1</string>
							<key>GnerateType</key>
							<string>0</string>
							<key>Index</key>
							<string>9</string>
						</dict>
                    </array>
                </dict>
			</array>
		</dict>
	</array>
</plist>
