<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string>Default</string>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yyy.png</string>
					<key>LocateMethod</key>
					<string>7</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>527,424,296,211</string>
					<key>ORGBA</key>
					<string>45,0,0,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>11</string>
					<key>Gender</key>
					<string>F</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yyz.png</string>
					<key>LocateMethod</key>
					<string>6</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>184,426,303,222</string>
					<key>ORGBA</key>
					<string>45,0,0,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>10</string>
					<key>Gender</key>
					<string>F</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yxy.png</string>
					<key>LocateMethod</key>
					<string>7</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>557,498,236,117</string>
					<key>ORGBA</key>
					<string>80,0,0,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>13</string>
					<key>Gender</key>
					<string>F</string>
					<key>CustomName</key>
					<string>MUFACE_EYELINER</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yxz.png</string>
					<key>LocateMethod</key>
					<string>6</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>220,503,236,122</string>
					<key>ORGBA</key>
					<string>80,0,0,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>12</string>
					<key>Gender</key>
					<string>F</string>
					<key>CustomName</key>
					<string>MUFACE_EYELINER</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yyggy.png</string>
					<key>LocateMethod</key>
					<string>7</string>
					<key>FilterType</key>
					<string>6</string>
					<key>Rectangle</key>
					<string>547,464,203,140</string>
					<key>ORGBA</key>
					<string>40,0,0,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>11</string>
					<key>Gender</key>
					<string>F</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yyggz.png</string>
					<key>LocateMethod</key>
					<string>6</string>
					<key>FilterType</key>
					<string>6</string>
					<key>Rectangle</key>
					<string>257,467,211,146</string>
					<key>ORGBA</key>
					<string>40,0,0,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>10</string>
					<key>Gender</key>
					<string>F</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>818_jmy.png</string>
					<key>LocateMethod</key>
					<string>7</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>579,513,172,99</string>
					<key>ORGBA</key>
					<string>65,0,0,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>15</string>
					<key>Gender</key>
					<string>F</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>818_jmz.png</string>
					<key>LocateMethod</key>
					<string>6</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>266,509,175,115</string>
					<key>ORGBA</key>
					<string>65,0,0,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>14</string>
					<key>Gender</key>
					<string>F</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yxy.png</string>
					<key>LocateMethod</key>
					<string>7</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>557,499,231,111</string>
					<key>ORGBA</key>
					<string>25,0,0,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>13</string>
					<key>Gender</key>
					<string>M</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yxz.png</string>
					<key>LocateMethod</key>
					<string>6</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>219,504,237,116</string>
					<key>ORGBA</key>
					<string>25,0,0,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>12</string>
					<key>Gender</key>
					<string>M</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yyy.png</string>
					<key>LocateMethod</key>
					<string>7</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>527,424,296,211</string>
					<key>ORGBA</key>
					<string>40,0,0,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>11</string>
					<key>Gender</key>
					<string>M</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yyz.png</string>
					<key>LocateMethod</key>
					<string>6</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>184,426,303,222</string>
					<key>ORGBA</key>
					<string>40,0,0,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>10</string>
					<key>Gender</key>
					<string>M</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yyggy.png</string>
					<key>LocateMethod</key>
					<string>7</string>
					<key>FilterType</key>
					<string>6</string>
					<key>Rectangle</key>
					<string>547,464,203,140</string>
					<key>ORGBA</key>
					<string>20,0,0,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>11</string>
					<key>Gender</key>
					<string>M</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yyggz.png</string>
					<key>LocateMethod</key>
					<string>6</string>
					<key>FilterType</key>
					<string>6</string>
					<key>Rectangle</key>
					<string>257,467,211,146</string>
					<key>ORGBA</key>
					<string>20,0,0,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>10</string>
					<key>Gender</key>
					<string>M</string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
