<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FacePart</key>
		<array>
			<dict>
				<key>Type</key>
				<string>Font</string>
				<key>FontRenderType</key>
				<integer>1</integer>
				<key>LayoutInParent</key>
				<integer>0,3</integer>
				<key>TestText</key>
				<string>&lt;TIME_BASE_15&gt;</string>
				<key>FontWidth</key>
				<integer>300</integer>
				<key>FontHeight</key>
				<integer>40</integer>
				<key>Rectangle</key>
				<string>0.0,0.0,0.0,0.0;</string>
				<key>needBlend</key>
				<integer>9</integer>
				<key>rotation</key>
				<integer>90</integer>
				<key>margin</key>
				<string>0.08,0.08;</string>
				<key>IsLimitedToFramebuffer</key>
				<integer>1</integer>
				<key>ShowDrawRect</key>
				<integer>0</integer>
				<key>ShowFontRect</key>
				<integer>0</integer>
				<key>IsAdjustScreen</key>
                <integer>1</integer>
				<key>IsFixOrientation</key>
                <integer>0</integer>
				<key>FontManager</key>
				<dict>
					<key>FontLibrary</key>
					<dict>
						<key>Path</key>
						<string>meitu_digit.ttf</string>
						<key>Size</key>
						<integer>64</integer>
					</dict>
					<key>SectionFormat</key>
					<dict>
						<key>TextDirection</key>
						<string>LR</string>
						<key>LineSpacing</key>
						<string>TOP_TOP</string>
						<key>LineSpacingValue</key>
						<string>5</string>
						<key>LineSpacingValueUnit</key>
						<string>CHAR</string>
					</dict>
					<key>FontFormat</key>
					<dict>
						<key>Size</key>
						<string>1</string>
						<key>SizeUnit</key>
						<string>PIXEL</string>
						<key>Color</key>
						<string>242.0,158.0,42.0,255.0</string>
					</dict>
					<key>FontLayout</key>
					<dict>
						<key>IsHoriCenter</key>
						<integer>0</integer>
						<key>IsVertCenter</key
						><integer>1</integer>
						<key>MaxLineNumber</key>
						<integer>1</integer>
						<key>IsSelfLineNumber</key>
						<integer>0</integer>
						<key>IsSelfFontSize</key>
						<integer>1</integer>
						<key>HoriMargin</key>
						<string>0</string>
						<key>VertMargin</key>
						<string>0</string>
					</dict>
				</dict>
			</dict>

		</array>
	</dict>
</array>
</plist>
