<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<integer>1001</integer>
	<key>FilterPart</key>
	<array>
		<dict>
			<key>Type</key>
			<string>AnattaBeauty</string>
			<key>Filters</key>
			<array>
				<dict>
					<key>Name</key>
					<string>SourceInput</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>CompactBeauty</string>
					<key>Type</key>
					<string>CPU</string>
					<key>SharpenType</key>
					<string>1</string>
					<key>WhiteTeethSwitch</key>
					<string>0</string>
					<key>RemovePouchSwitch</key>
					<string>0</string>
					<key>LaughLineSwitch</key>
					<string>0</string>
					<key>FromSource</key>
					<array>
						<string>SourceInput</string>
					</array>
				</dict>
				<dict>
					<key>Name</key>
					<string>FaceColor</string>
					<key>Type</key>
					<string>DoubleLookupWithBlack</string>
					<key>NeedSkinMaskMix</key>
                    <string>0</string>
                    <key>AutoContrastType</key>
                    <string>0</string>
                    <key>AutoContrastSwitch</key>
                    <string>0</string>
                    <key>AutoContrastAlpha</key>
                    <string>0.0</string>
                    <key>Switch</key>
                    <string>1</string>
                    <key>Alpha</key>
                    <string>0.7</string>
					<key>FaceColor_lookUpBasePath</key>
                    <string>Anatta/lookup_table_512.png</string>
                    <key>FaceColor_lookUpWhitePath</key>
                    <string>Anatta/lookup_table_white_bp.png</string>
                    <key>FaceColor_lookUpBlackPath</key>
                    <string>Anatta/lookup_table_black_bp.png</string>
                    <key>FaceColor_lookUpSizeType</key>
                    <string>64</string>
					<key>FromSource</key>
					<array>
						<string>CompactBeauty</string>
					</array>
				</dict>
				<dict>
					<key>Name</key>
					<string>ResultOutput</string>
					<key>FromSource</key>
					<array>
						<string>FaceColor</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
