<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<integer>1001</integer>
	<key>FilterPart</key>
	<array>
		<dict>
			<key>Type</key>
			<string>AnattaBeauty</string>
			<key>Filters</key>
			<array>
				<dict>
					<key>Name</key>
					<string>SourceInput</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>SkinSmooth</string>
					<key>Type</key>
					<string>Normal</string>
					<key>IsNeedFaceAndNeckMask</key>
					<string>1</string>
					<key>Switch</key>
                    <string>1</string>
					<key>FromSource</key>
					<array>
						<string>SourceInput</string>
					</array>
				</dict>
				<dict>
					<key>Name</key>
					<string>BlurFilter02</string>
					<key>FromSource</key>
					<array>
						<string>SkinSmooth</string>
					</array>
				</dict>
				<dict>
					<key>Name</key>
					<string>Sharpen</string>
					<key>Type</key>
					<string>MySharpenSkinMask</string>
					<key>Switch</key>
                    <string>1</string>
					<key>FromSource</key>
					<array>
						<string>SkinSmooth</string>
						<string>SourceInput</string>
					</array>
				</dict>
				<dict>
					<key>Name</key>
					<string>FacialBeautify</string>
					<key>BrightEyeType</key>
					<string>1</string>
					<!-- 亮眼开关 -->
					<key>BrightEyeSwitch</key>
					<string>1</string>
					<!-- 美牙开关 -->
					<key>WhiteTeethSwitch</key>
					<string>0</string>
					<!-- 去黑眼圈开关 -->
					<key>RemovePouchSwitch</key>
					<string>0</string>
					<key>LaughLineSwitch</key>
					<string>0</string>
					<key>FromSource</key>
					<array>
						<string>Sharpen</string>
						<string>BlurFilter02</string>
					</array>
				</dict>
				<dict>
					<key>Name</key>
					<string>ShadowLight</string>
					<key>Type</key>
					<string>2DSoftLight</string>
					<key>Switch</key>
					<string>1</string>
					<key>Alpha</key>
					<string>0.7</string>
					<key>MaskPath</key>
					<string>SoftLight2D/SoftLight_AI.png</string>
					<key>FromSource</key>
					<array>
						<string>FacialBeautify</string>
					</array>
				</dict>
				<dict>
					<key>Name</key>
					<string>FaceColor</string>
					<key>Type</key>
					<string>FaceColor0060</string>
					<key>FaceColorAlpha1</key>
					<string>0.25</string>
					<key>FaceColor_lookUpPath</key>
					<string>Anatta/lookup_table.png</string>
					<key>FaceColor_lookUpOriginPath</key>
					<string>Anatta/lookup_table_origin.png</string>
					<key>FaceColor_lookUpGrayPath</key>
					<string>Anatta/lookup_table_gray.png</string>
					<key>Switch</key>
                    <string>1</string>
					<key>FromSource</key>
					<array>
						<string>ShadowLight</string>
					</array>
				</dict>
				<dict>
					<key>Name</key>
					<string>ResultOutput</string>
					<key>FromSource</key>
					<array>
						<string>FaceColor</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
