<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
    <array>
        <dict>
            <key>FacePart</key>
            <array>
                   <!-- 微笑 - SPMLS -->
                    <dict>
                        <key>Type</key>
                        <string>FV_SPMLSNew</string>
                        <key>Radius</key>
                        <string>109.00</string>
                        <key>SelectPoint</key>
                        <string>0,6,7,8,15,17,18,19,40,43,44,46,47,50,51,52,53,54,55,56,57,58,59,60,61,67,68,69,70,71,72,73,92,105,106,109,110,111,113,118,119,120</string>
                        <key>Strength</key>
                        <string>0.000233238,-0.00876892,-0.000742793,-0.00583355,-0.00070523,-0.0041454,-0.000604234,-0.00320678,0.000261524,-0.00876812,0.00078407,-0.00316761,0.000937825,-0.00409904,0.00107051,-0.00578239,0,0,-0.00352331,-0.014554,0.00814315,-0.0117351,0.00413557,-0.0148042,-0.00727992,-0.0114729,-0.138959,-0.103922,-0.055186,-0.0130388,-0.00681617,0.00665293,1.71846e-05,-0.00218398,0.00691609,0.00694307,0.0555033,-0.0125129,0.138953,-0.103927,-0.0312052,-0.0204701,3.89185e-05,0.000128751,-3.59852e-06,-0.00359483,-4.61156e-05,0.000126352,0.0313819,-0.0196116,6.84041e-05,8.70316e-05,6.80076e-05,0.000101087,-0.00383811,-0.00906955,-3.59852e-06,-0.00353417,0.00383171,-0.00907276,-7.35987e-05,9.70918e-05,-7.32022e-05,8.30365e-05,0,0,0.0751929,-0.00590628,4.13175e-05,4.37165e-05,0,0,-0.0723921,-0.00308876,-4.37165e-05,4.13175e-05,0,0,5.51469e-05,5.83489e-05,7.98018e-07,-0.0072307,-5.83489e-05,5.51469e-05</string>
                        <key>Path</key>
                        <string>mls_38.png</string>
                        <!-- 控制字段：嘴巴宽度 -->
                        <key>LiftControlType</key>
                        <integer>50</integer>
                        <key>ControlRange</key>
                        <string>0.0,1.0</string>
                        <key>ValueRange</key>
                        <string>0.0,1.0</string>
                 </dict>
                 <!-- 渲染插入配置（缩头滤镜） -->
                <dict>
                    <key>Type</key>
                    <string>Callback</string>
                    <key>CallbackConfigurationPath</key>
                    <string></string>
                </dict>
                <!-- 偏移图美型 -->
                <dict>
                    <key>Type</key>
                    <string>FaceliftV2</string>
                    <key>NeedGender</key>
                    <string>1</string>
                    <key>MaskPath</key>
                    <array>
                        <!-- 新瘦脸（美图手机移植的缩脸）-->
                        <dict>
                            <key>Path</key>
                            <string>suolian.png</string>
                            <key>BodyParts</key>
                            <string>-1</string>
                            <key>Rectangle</key>
                            <string>0,0,280,280;</string>
                            <key>GenerateType</key>
                            <string>0</string>
                        </dict>
                        <!-- 瘦脸 -->
                        <dict>
                            <key>Path</key>
                            <string>Grid_0_6.png</string>
                            <key>BodyParts</key>
                            <string>-1</string>
                            <key>Rectangle</key>
                            <string>28,116,225,128;</string>
                            <key>GenerateType</key>
                            <string>0</string>
                        </dict>
                        <dict>
                            <key>Path</key>
                            <string>Grid_1_5.png</string>
                            <key>BodyParts</key>
                            <string>-1</string>
                            <key>Rectangle</key>
                            <string>76,174,132,64;</string>
                            <key>GenerateType</key>
                            <string>0</string>
                        </dict>
                        <!-- 大眼 -->
                        <dict>
                            <key>Path</key>
                            <string>eyes.png</string>
                            <key>BodyParts</key>
                            <string>10</string>
                            <key>Rectangle</key>
                            <string>85,110,112,38;</string>
                            <key>GenerateType</key>
                            <string>0</string>
                        </dict>
                        <!-- 鼻翼 - 缩小放大 -->
                        <dict>
                            <key>Path</key>
                            <string>nose_wing.png</string>
                            <key>BodyParts</key>
                            <string>20</string>
                            <key>Rectangle</key>
                            <string>106,138,71,38;</string>
                            <key>GenerateType</key>
                            <string>0</string>
                        </dict>
                        <!-- 鼻子 - 降低升高 -->
                        <dict>
                            <key>Path</key>
                            <string>nose.png</string>
                            <key>BodyParts</key>
                            <string>20</string>
                            <key>Rectangle</key>
                            <string>108,128,67,47;</string>
                            <key>GenerateType</key>
                            <string>0</string>
                        </dict>
                        <!-- 嘴巴 - 大-->
                        <dict>
                            <key>Path</key>
                            <string>mouth_small.png</string>
                            <key>BodyParts</key>
                            <string>-1</string>
                            <key>Rectangle</key>
                            <string>103,164,77,49;</string>
                            <key>GenerateType</key>
                            <string>0</string>
                        </dict>
                        <dict>
                            <key>Path</key>
                            <string>mouth_big.png</string>
                            <key>BodyParts</key>
                            <string>-1</string>
                            <key>Rectangle</key>
                            <string>103,164,77,48;</string>
                            <key>GenerateType</key>
                            <string>0</string>
                        </dict>
                        <!-- 唇 - 丰唇 -->
                        <dict>
                            <key>Path</key>
                            <string>lip_enhance.png</string>
                            <key>BodyParts</key>
                            <string>-1</string>
                            <key>Rectangle</key>
                            <string>102,163,80,51;</string>
                            <key>GenerateType</key>
                            <string>0</string>
                        </dict>
                        <!-- 唇 - 薄唇 -->
                        <dict>
                            <key>Path</key>
                            <string>lip_thin.png</string>
                            <key>BodyParts</key>
                            <string>-1</string>
                            <key>Rectangle</key>
                            <string>102,163,78,52;</string>
                            <key>GenerateType</key>
                            <string>0</string>
                        </dict>
                        <!-- 发际线 - 变高 -->
                        <dict>
                            <key>Path</key>
                            <string>Forehead_up.png</string>
                            <key>BodyParts</key>
                            <string>-1</string>
                            <key>Rectangle</key>
                            <string>16,24,245,118;</string>
                            <key>GenerateType</key>
                            <string>0</string>
                        </dict>
                        <!-- 发际线 - 变低 -->
                        <dict>
                            <key>Path</key>
                            <string>Forehead_down.png</string>
                            <key>BodyParts</key>
                            <string>-1</string>
                            <key>Rectangle</key>
                            <string>16,24,245,118;</string>
                            <key>GenerateType</key>
                            <string>0</string>
                        </dict>
                    </array>
                    <key>Configure</key>
                    <array>
                        <!-- 瘦脸滑杆 -->
                        <dict>
                            <key>MaskIndex</key>
                            <string>0</string>
                            <key>LiftControlType</key>
                            <integer>1</integer>
                            <key>ControlRange</key>
                            <string>0.0,1.0</string>
                            <key>ValueRange</key>
                            <string>0.0,0.7</string>
                        </dict>
                        <dict>
                            <key>MaskIndex</key>
                            <string>1</string>
                            <key>LiftControlType</key>
                            <integer>1</integer>
                            <key>ControlRange</key>
                            <string>0.0,1.0</string>
                            <key>ValueRange</key>
                            <string>0.0,0.7</string>
                        </dict>
                        <dict>
                            <key>MaskIndex</key>
                            <string>2</string>
                            <key>LiftControlType</key>
                            <integer>1</integer>
                            <key>ControlRange</key>
                            <string>0.0,1.0</string>
                            <key>ValueRange</key>
                            <string>0.0,0.7</string>
                        </dict>
                        <!-- 大眼滑杆 -->
                        <dict>
                            <key>MaskIndex</key>
                            <string>3</string>
                            <key>LiftControlType</key>
                            <integer>0</integer>
                            <key>ControlRange</key>
                            <string>0.0,1.0</string>
                            <key>ValueRange</key>
                            <string>0.0,1.0</string>
                        </dict>
                        <!-- 鼻翼滑杆 -->
                        <dict>
                            <key>MaskIndex</key>
                            <string>4</string>
                            <key>LiftControlType</key>
                            <integer>22</integer>
                            <key>ControlRange</key>
                            <string>-1.0,1.0</string>
                            <key>ValueRange</key>
                            <string>-1.0,1.0</string>
                        </dict>
                        <!-- 鼻子滑杆 -->
                        <dict>
                            <key>MaskIndex</key>
                            <string>5</string>
                            <key>LiftControlType</key>
                            <integer>3</integer>
                            <key>ControlRange</key>
                            <string>-1.0,1.0</string>
                            <key>ValueRange</key>
                            <string>1.0,-1.0</string>
                        </dict>
                        <!-- 嘴巴滑杆 -->
                        <dict>
                            <key>MaskIndex</key>
                            <string>6</string>
                            <key>LiftControlType</key>
                            <integer>4</integer>
                            <key>ControlRange</key>
                            <string>-1.0,0.0</string>
                            <key>ValueRange</key>
                            <string>1.0,0.0</string>
                        </dict>
                        <dict>
                            <key>MaskIndex</key>
                            <string>7</string>
                            <key>LiftControlType</key>
                            <integer>4</integer>
                            <key>ControlRange</key>
                            <string>0.0,1.0</string>
                            <key>ValueRange</key>
                            <string>0.0,1.0</string>
                        </dict>
                        <!-- 丰唇滑杆 -->
                        <dict>
                            <key>MaskIndex</key>
                            <string>8</string>
                            <!-- 控制字段：上唇 -->
                            <key>LiftControlType</key>
                            <integer>20</integer>
                            <key>ControlRange</key>
                            <string>0.0,1.0</string>
                            <key>ValueRange</key>
                            <string>0.0,1.0</string>
                        </dict>
                        <dict>
                            <key>MaskIndex</key>
                            <string>9</string>
                            <!-- 控制字段：上唇 -->
                            <key>LiftControlType</key>
                            <integer>20</integer>
                            <key>ControlRange</key>
                            <string>-1.0,0.0</string>
                            <key>ValueRange</key>
                            <string>1.0,0.0</string>
                        </dict>
                        <!-- 发际线滑杆 -->
                        <dict>
                            <key>MaskIndex</key>
                            <string>10</string>
                            <key>LiftControlType</key>
                            <integer>13</integer>
                            <key>ControlRange</key>
                            <string>0.0,1.0</string>
                            <key>ValueRange</key>
                            <string>0.0,1.0</string>
                        </dict>
                        <dict>
                            <key>MaskIndex</key>
                            <string>11</string>
                            <key>LiftControlType</key>
                            <integer>13</integer>
                            <key>ControlRange</key>
                            <string>-1.0,0.0</string>
                            <key>ValueRange</key>
                            <string>1.0,0.0</string>
                        </dict>
                    </array>
                </dict>
            </array>
        </dict>
    </array>
</plist>
