<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC " -//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>FacePart</key>
			<array>
				<!-- 妆容区分男女 -->
				<!-- 女-->
                <dict>
                    <key>AddPath</key>
                    <string>Mouth/realtime_mouth_close.png</string>
                    <key>AdditionalTexture</key>
                    <string>Mouth/803_z_lut.png</string>
                    <key>FilterType</key>
                    <integer>51</integer>
                    <key>LocateMethod</key>
                    <integer>2</integer>
                    <key>MUType</key>
                    <integer>1</integer>
                    <key>ORGBA</key>
                    <string>14,0,0,0,255</string>
                    <key>Operation</key>
                    <integer>0</integer>
                    <key>Path</key>
                    <string>Mouth/realtime_mouth_open.png</string>
                    <key>Rectangle</key>
                    <string>360,792,291,132</string>
                    <key>SupportOpenMouth</key>
                    <integer>1</integer>
                    <key>Type</key>
                    <string>S</string>
                    <key>MakeupCustomName</key>
                    <string>MUFACE_MOUTH</string>
                    <key>Gender</key>
                    <string>F</string>
                </dict>
                <!-- 女-->
                <dict>
                    <key>FilterType</key>
                    <integer>4</integer>
                    <key>LocateMethod</key>
                    <string>2</string>
                    <key>MUType</key>
                    <string>4</string>
                    <key>ORGBA</key>
                    <string>16,0,0,0,255</string>
                    <key>Operation</key>
                    <integer>0</integer>
                    <key>Path</key>
                    <string>Blusher/816_sh.png</string>
                    <key>Rectangle</key>
                    <string>0,495,999,357</string>
                    <key>Type</key>
                    <string>S</string>
                    <key>MakeupCustomName</key>
                    <string>MUFACE_CHEEK</string>
                    <key>Gender</key>
                    <string>F</string>
                </dict>
                <!-- 渲染插入配置（缩头滤镜） -->
                <dict>
                    <key>Type</key>
                    <string>Callback</string>
                    <key>CallbackConfigurationPath</key>
                    <string></string>
                </dict>
                <!-- 眼睛  -->
                <dict>
                    <key>Type</key><string>Facelift</string>
                    <key>FacemeshType</key><integer>2108</integer>
                    <key>FacemeshParameters</key><string>0.35,0.10,0.00,0.00,0.00;</string>
                </dict>
                <!-- 鼻翼 -->
				<dict>
					<key>Type</key><string>Facelift</string>
					<key>FacemeshType</key><integer>2101</integer>
					<key>FacemeshParameters</key><string>0.04;</string>
				</dict>
				<!-- 瘦脸 - 开始-->
                <dict>
                    <key>FacemeshParameters</key>
                    <string>0.20,0.00;</string>
                    <key>FacemeshType</key>
                    <integer>2105</integer>
                    <key>Type</key>
                    <string>Facelift</string>
                </dict>
                <dict>
                    <key>FacemeshParameters</key>
                    <string>0.18,0.13,0.2,0.00,0.00;</string>
                    <key>FacemeshType</key>
                    <integer>2110</integer>
                    <key>Type</key>
                    <string>Facelift</string>
                </dict>
                <dict>
                    <key>FacemeshParameters</key>
                    <string>0.26,0.00,0.74,0.75,0.34,0.62,0.54,0.45,0.52,0.59,0.45,0.31,0.38,0.32,0.38,0.31,0.45,0.59,0.52,0.45,0.54,0.62,0.34,0.75,0.74,0.00,0.00,0.11,0.17,0.17,0.26,0.11,0.08,0.32,0.11,0.35,0.34,0.18,-0.05,0.18,0.34,0.35,0.11,0.32,0.08,0.11,0.26,0.17,0.17,0.11,0.00;</string>
                    <key>FacemeshType</key>
                    <integer>2199</integer>
                    <key>Type</key>
                    <string>Facelift</string>
                </dict>
                <dict>
                    <key>FacemeshParameters</key>
                    <string>0.20</string>
                    <key>FacemeshType</key>
                    <integer>2400</integer>
                    <key>Type</key>
                    <string>Facelift</string>
                </dict>
                <!-- 瘦脸 - 结束 -->
			</array>
		</dict>
	</array>
</plist>
