<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>sh.png</string>
					<key>LocateMethod</key>
					<string>2</string>
					<key>LockSource</key>
					<string>0</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>163,370,696,753</string>
					<key>ORGBA</key>
					<string>100,0,0,0,255</string>
					<key>MUType</key>
					<string>4</string>
					<key>Operation</key>
					<string>0</string>
					<key>Gender</key>
					<string>F</string>
					<key>CustomName</key>
					<string>MUFACE_CHEEK</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>807_sh.png</string>
					<key>LocateMethod</key>
					<string>2</string>
					<key>LockSource</key>
					<string>0</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>154,496,694,303</string>
					<key>ORGBA</key>
					<string>100,0,0,0,255</string>
					<key>MUType</key>
					<string>4</string>
					<key>Operation</key>
					<string>0</string>
					<key>Gender</key>
					<string>F</string>
					<key>CustomName</key>
					<string>MUFACE_CHEEK</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>sh.png</string>
					<key>LocateMethod</key>
					<string>2</string>
					<key>LockSource</key>
					<string>0</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>163,370,696,753</string>
					<key>ORGBA</key>
					<string>50,0,0,0,255</string>
					<key>MUType</key>
					<string>4</string>
					<key>Operation</key>
					<string>0</string>
					<key>Gender</key>
					<string>M</string>
					<key>CustomName</key>
					<string>MUFACE_CHEEK</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>807_sh.png</string>
					<key>LocateMethod</key>
					<string>2</string>
					<key>LockSource</key>
					<string>0</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>154,496,694,303</string>
					<key>ORGBA</key>
					<string>50,0,0,0,255</string>
					<key>MUType</key>
					<string>4</string>
					<key>Operation</key>
					<string>0</string>
					<key>Gender</key>
					<string>M</string>
					<key>CustomName</key>
					<string>MUFACE_CHEEK</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>eye_mask_left.png</string>
					<key>AdditionalTexture</key>
					<string>mt.png</string>
					<key>LocateMethod</key>
					<string>6</string>
					<key>LockSource</key>
					<string>0</string>
					<key>FilterType</key>
					<string>2</string>
					<key>NeedMask</key>
					<string>1</string>
					<key>Rectangle</key>
					<string>241,494,207,119</string>
					<key>ORGBA</key>
					<string>30,0,0,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>16</string>
					<key>Gender</key>
					<string>F</string>
					<key>CustomName</key>
					<string>MUFACE_EYEPUPIL</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>eye_mask_right.png</string>
					<key>AdditionalTexture</key>
					<string>mt.png</string>
					<key>LocateMethod</key>
					<string>7</string>
					<key>LockSource</key>
					<string>0</string>
					<key>FilterType</key>
					<string>2</string>
					<key>NeedMask</key>
					<string>1</string>
					<key>Rectangle</key>
					<string>566,487,198,116</string>
					<key>ORGBA</key>
					<string>30,0,0,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>17</string>
					<key>Gender</key>
					<string>F</string>
					<key>CustomName</key>
					<string>MUFACE_EYEPUPIL</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>eye_mask_left.png</string>
					<key>AdditionalTexture</key>
					<string>mt.png</string>
					<key>LocateMethod</key>
					<string>6</string>
					<key>LockSource</key>
					<string>0</string>
					<key>FilterType</key>
					<string>2</string>
					<key>NeedMask</key>
					<string>1</string>
					<key>Rectangle</key>
					<string>241,494,207,119</string>
					<key>ORGBA</key>
					<string>20,0,0,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>16</string>
					<key>Gender</key>
					<string>M</string>
					<key>CustomName</key>
					<string>MUFACE_EYEPUPIL</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>eye_mask_right.png</string>
					<key>AdditionalTexture</key>
					<string>mt.png</string>
					<key>LocateMethod</key>
					<string>7</string>
					<key>LockSource</key>
					<string>0</string>
					<key>FilterType</key>
					<string>2</string>
					<key>NeedMask</key>
					<string>1</string>
					<key>Rectangle</key>
					<string>566,487,198,116</string>
					<key>ORGBA</key>
					<string>20,0,0,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>17</string>
					<key>Gender</key>
					<string>M</string>
					<key>CustomName</key>
					<string>MUFACE_EYEPUPIL</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>xr.png</string>
					<key>LocateMethod</key>
					<string>2</string>
					<key>LockSource</key>
					<string>0</string>
					<key>FilterType</key>
					<string>6</string>
					<key>Rectangle</key>
					<string>0,0,1000,1267</string>
					<key>ORGBA</key>
					<string>100,0,0,0,255</string>
					<key>MUType</key>
					<string>4</string>
					<key>Operation</key>
					<string>1</string>
					<!-- 修容 -->
					<key>MakeupCustomName</key>
					<string>MUFACE_HIGHLIGHT</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>mmz.png</string>
					<key>LocateMethod</key>
					<string>8</string>
					<key>LockSource</key>
					<string>0</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>182,398,338,141</string>
					<key>ORGBA</key>
					<string>60,0,0,0,255</string>
					<key>MUType</key>
					<string>2</string>
					<key>Operation</key>
					<string>0</string>
					<!-- 眉毛 -->
					<key>MakeupCustomName</key>
					<string>MUFACE_EYEBROW</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>mmy.png</string>
					<key>LocateMethod</key>
					<string>9</string>
					<key>LockSource</key>
					<string>0</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>494,394,333,136</string>
					<key>ORGBA</key>
					<string>60,0,0,0,255</string>
					<key>MUType</key>
					<string>2</string>
					<key>Operation</key>
					<string>1</string>
					<!-- 眉毛 -->
					<key>MakeupCustomName</key>
					<string>MUFACE_EYEBROW</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yyz.png</string>
					<key>LocateMethod</key>
					<string>6</string>
					<key>LockSource</key>
					<string>0</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>192,443,288,242</string>
					<key>ORGBA</key>
					<string>70,0,0,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>10</string>
					<key>Gender</key>
					<string>F</string>
					<!-- 眼影 -->
					<key>MakeupCustomName</key>
					<string>MUFACE_EYESHADOW</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yyy.png</string>
					<key>LocateMethod</key>
					<string>7</string>
					<key>LockSource</key>
					<string>0</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>538,437,276,242</string>
					<key>ORGBA</key>
					<string>70,0,0,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>11</string>
					<key>Gender</key>
					<string>F</string>
					<!-- 眼影 -->
					<key>MakeupCustomName</key>
					<string>MUFACE_EYESHADOW</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yxz.png</string>
					<key>LocateMethod</key>
					<string>6</string>
					<key>LockSource</key>
					<string>0</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>164,494,267,124</string>
					<key>ORGBA</key>
					<string>60,11,1,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>12</string>
					<key>Gender</key>
					<string>F</string>
					<!-- 眼线 -->
					<key>MakeupCustomName</key>
					<string>MUFACE_EYELINER</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yxy.png</string>
					<key>LocateMethod</key>
					<string>7</string>
					<key>LockSource</key>
					<string>0</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>586,487,262,128</string>
					<key>ORGBA</key>
					<string>60,11,1,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>13</string>
					<key>Gender</key>
					<string>F</string>
					<!-- 眼线 -->
					<key>MakeupCustomName</key>
					<string>MUFACE_EYELINER</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yylp z.png</string>
					<key>LocateMethod</key>
					<string>6</string>
					<key>LockSource</key>
					<string>0</string>
					<key>FilterType</key>
					<string>10</string>
					<key>Rectangle</key>
					<string>301,488,146,120</string>
					<key>ORGBA</key>
					<string>90,0,0,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>10</string>
					<key>Gender</key>
					<string>F</string>
					<!-- 眼影 -->
					<key>MakeupCustomName</key>
					<string>MUFACE_EYESHADOW</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yylp y.png</string>
					<key>LocateMethod</key>
					<string>7</string>
					<key>LockSource</key>
					<string>0</string>
					<key>FilterType</key>
					<string>10</string>
					<key>Rectangle</key>
					<string>573,491,142,113</string>
					<key>ORGBA</key>
					<string>90,0,0,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>11</string>
					<key>Gender</key>
					<string>F</string>
					<!-- 眼影 -->
					<key>MakeupCustomName</key>
					<string>MUFACE_EYESHADOW</string>

				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>jmz.png</string>
					<key>LocateMethod</key>
					<string>38</string>
					<key>LockSource</key>
					<string>0</string>
					<key>FilterType</key>
					<string>106</string>
					<key>Rectangle</key>
					<string>262,488,163,146</string>
					<key>ORGBA</key>
					<string>70,78,30,28,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>14</string>
					<key>Gender</key>
					<string>F</string>
					<key>CustomName</key>
					<string>MUFACE_EYELASH</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>jmy.png</string>
					<key>LocateMethod</key>
					<string>39</string>
					<key>LockSource</key>
					<string>0</string>
					<key>FilterType</key>
					<string>106</string>
					<key>Rectangle</key>
					<string>593,483,158,144</string>
					<key>ORGBA</key>
					<string>70,78,30,28,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>15</string>
					<key>Gender</key>
					<string>F</string>
					<key>CustomName</key>
					<string>MUFACE_EYELASH</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>818_jmy.png</string>
					<key>LocateMethod</key>
					<string>7</string>
					<key>LockSource</key>
					<string>0</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>604,506,140,108</string>
					<key>ORGBA</key>
					<string>50,0,0,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>15</string>
					<key>Gender</key>
					<string>M</string>
					<key>CustomName</key>
					<string>MUFACE_EYELASH</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>818_jmz.png</string>
					<key>LocateMethod</key>
					<string>6</string>
					<key>LockSource</key>
					<string>0</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>278,510,141,108</string>
					<key>ORGBA</key>
					<string>50,0,0,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>14</string>
					<key>Gender</key>
					<string>M</string>
					<key>CustomName</key>
					<string>MUFACE_EYELASH</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>zc multiply.png</string>
					<key>AddPath</key>
					<string>zc multiply.png</string>
					<key>LocateMethod</key>
					<string>2</string>
					<key>LockSource</key>
					<string>0</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>386,802,238,109</string>
					<key>ORGBA</key>
					<string>100,0,0,0,255</string>
					<key>MUType</key>
					<string>1</string>
					<key>Operation</key>
					<string>7</string>
					<key>SupportOpenMouth</key>
					<string>1</string>
					<key>Gender</key>
					<string>F</string>
					<key>CustomName</key>
					<string>MUFACE_MOUTH</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>zc multiply.png</string>
					<key>AddPath</key>
					<string>zc multiply.png</string>
					<key>LocateMethod</key>
					<string>2</string>
					<key>LockSource</key>
					<string>0</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>386,802,238,109</string>
					<key>ORGBA</key>
					<string>25,0,0,0,255</string>
					<key>MUType</key>
					<string>1</string>
					<key>Operation</key>
					<string>7</string>
					<key>SupportOpenMouth</key>
					<string>1</string>
					<key>Gender</key>
					<string>M</string>
					<key>CustomName</key>
					<string>MUFACE_MOUTH</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>zcgg 2.png</string>
					<key>AddPath</key>
					<string>zcgg 2.png</string>
					<key>LocateMethod</key>
					<string>2</string>
					<key>LockSource</key>
					<string>0</string>
					<key>FilterType</key>
					<string>10</string>
					<key>Rectangle</key>
					<string>422,815,162,83</string>
					<key>ORGBA</key>
					<string>70,0,0,0,255</string>
					<key>MUType</key>
					<string>1</string>
					<key>Operation</key>
					<string>7</string>
					<key>SupportOpenMouth</key>
					<string>1</string>
					<key>Gender</key>
					<string>F</string>
					<key>CustomName</key>
					<string>MUFACE_MOUTH</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>zclp.png</string>
					<key>AddPath</key>
					<string>zclp.png</string>
					<key>LocateMethod</key>
					<string>2</string>
					<key>LockSource</key>
					<string>0</string>
					<key>FilterType</key>
					<string>20</string>
					<key>Rectangle</key>
					<string>406,808,202,153</string>
					<key>ORGBA</key>
					<string>70,0,0,0,255</string>
					<key>MUType</key>
					<string>1</string>
					<key>Operation</key>
					<string>7</string>
					<key>SupportOpenMouth</key>
					<string>1</string>
					<key>Gender</key>
					<string>F</string>
					<key>CustomName</key>
					<string>MUFACE_MOUTH</string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
