<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <!--光斑-->
	<dict>
		<key>DefocusId</key>
		<integer>101</integer>
		<key>DefocusLevel</key>
        <integer>40</integer>
        <key>gamma</key>
        <integer>5</integer>
        <key>Kernel</key>
        <string>1109.bin</string>
        <key>PreviewRes</key>
        <string>defocus/defocus_thumb/101.jpg</string>
        <key>StaticsID</key>
        <string>SFI101</string>
	</dict>
	<!--动感-->
    <dict>
		<key>DefocusId</key>
		<integer>102</integer>
		<key>DefocusLevel</key>
		<integer>60</integer>
		<key>MinLevel</key>
        <integer>0</integer>
		<key>MaxLevel</key>
        <integer>96</integer>
		<key>PreviewRes</key>
		<string>defocus/defocus_thumb/102.jpg</string>
		<key>StaticsID</key>
		<string>SFI102</string>
	</dict>
	<!--旋焦-->
	<dict>
		<key>DefocusId</key>
		<integer>103</integer>
		<key>DefocusLevel</key>
        <integer>70</integer>
        <key>gamma</key>
        <integer>5</integer>
        <key>Kernel</key>
        <string>1103.bin</string>
        <key>PreviewRes</key>
        <string>defocus/defocus_thumb/103.jpg</string>
        <key>StaticsID</key>
        <string>SFI103</string>
 	</dict>
	<!--六边形-->
	<dict>
		<key>DefocusId</key>
		<integer>104</integer>
		<key>DefocusLevel</key>
        <integer>60</integer>
        <key>gamma</key>
        <integer>5</integer>
        <key>Kernel</key>
        <string>1111.bin</string>
        <key>PreviewRes</key>
        <string>defocus/defocus_thumb/104.jpg</string>
        <key>StaticsID</key>
        <string>SFI104</string>
	</dict>
	<!--爱心-->
	<dict>
		<key>DefocusId</key>
		<integer>105</integer>
		<key>DefocusLevel</key>
        <integer>70</integer>
        <key>gamma</key>
        <integer>5</integer>
        <key>Kernel</key>
        <string>1116.bin</string>
		<key>PreviewRes</key>
		<string>defocus/defocus_thumb/105.jpg</string>
        <key>StaticsID</key>
        <string>SFI105</string>
	</dict>
	<!--水滴-->
	<dict>
		<key>DefocusId</key>
		<integer>106</integer>
		<key>DefocusLevel</key>
        <integer>60</integer>
        <key>gamma</key>
        <integer>5</integer>
        <key>Kernel</key>
        <string>2323.bin</string>
		<key>PreviewRes</key>
		<string>defocus/defocus_thumb/106.jpg</string>
		<key>StaticsID</key>
        <string>SFI106</string>
	</dict>


	<dict>
		<key>DefocusId</key>
		<integer>107</integer>
		<key>DefocusLevel</key>
        <integer>90</integer>
        <key>MinLevel</key>
        <integer>40</integer>
        <key>MaxLevel</key>
        <integer>95</integer>
		<key>PreviewRes</key>
		<string>defocus/defocus_thumb/107.jpg</string>
		<key>StaticsID</key>
		<string>SFI107</string>
	</dict>
    <dict>
		<key>DefocusId</key>
		<integer>108</integer>
		<key>DefocusLevel</key>
		<integer>70</integer>
		<key>MinLevel</key>
        <integer>0</integer>
		<key>MaxLevel</key>
        <integer>10</integer>
		<key>PreviewRes</key>
		<string>defocus/defocus_thumb/108.jpg</string>
		<key>StaticsID</key>
		<string>SFI108</string>
	</dict>
	<dict>
		<key>DefocusId</key>
		<integer>109</integer>
		<key>DefocusLevel</key>
		<integer>25</integer>
		<key>MinLevel</key>
        <integer>0</integer>
		<key>MaxLevel</key>
        <integer>50</integer>
		<key>PreviewRes</key>
		<string>defocus/defocus_thumb/109.jpg</string>
		<key>StaticsID</key>
		<string>SFI109</string>
	</dict>
</array>
</plist>
