<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string></string>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Script</string>
					<key>SegmentType</key>
					<integer>0</integer>
					<key>EnableFace</key>
					<integer>1</integer>
					<key>EnableFaceSegmemt</key>
					<integer>0</integer>
					<key>PacketPath</key>
					<string>effect</string>
					<key>ScriptPath</key>
					<string>effect/Rainbow.lua</string>
					<key>ScriptVersionCode</key>
					<integer>0</integer>
					<key>ScriptLevel</key>
					<integer>0</integer>
					<key>ScriptName</key>
					<string>effect</string>
					<key>Parameters</key>
				    <array>
				        <!-- 滑杆 -->
						<dict>
							<key>Type</key>
							<string>SLIDER</string>
							<!-- 通用滤镜力度Flag(ParamFlag_CommonFilterSlider) -->
							<key>Flag</key>
							<string>4135</string>
							<key>Key</key>
							<string>SliderControl</string>
							<key>ChineseTip</key>
							<string>中文提示</string>
							<key>EnglishTip</key>
							<string>EnglishTip</string>
							<key>MinValue</key>
							<string>0.0</string>
							<key>MaxValue</key>
							<string>1.0</string>
							<key>DefaultValue</key>
							<string>1.0</string>
						</dict>
				    </array>
				</dict>
				<dict>
					<key>Type</key>
					<string>F</string>
					<key>FilterType</key>
					<integer>50</integer>
					<key>AdditionalTexture</key>
					<string>Materials/003.png</string>
					<key>ORGBA</key>
					<string>60,0,0,0,255</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>Materials/1.png</string>
					<key>LocateMethod</key>
					<integer>25</integer>
					<key>LockSource</key>
					<integer>1</integer>
					<key>FilterType</key>
					<integer>2</integer>
					<key>Rectangle</key>
					<string>0,0,960,1280</string>
					<key>ORGBA</key>
					<string>100,0,0,0,255</string>
					<key>MUType</key>
					<integer>0</integer>
					<key>Operation</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>Materials/2.png</string>
					<key>LocateMethod</key>
					<integer>25</integer>
					<key>LockSource</key>
					<integer>1</integer>
					<key>FilterType</key>
					<integer>6</integer>
					<key>Rectangle</key>
					<string>0,0,960,1280</string>
					<key>ORGBA</key>
					<string>60,0,0,0,255</string>
					<key>MUType</key>
					<integer>0</integer>
					<key>Operation</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
	</array>
</plist>
