<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ID</key>
		<integer>1554</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A02.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>1.0</string>
			<key>DarkRealTimeBlendState</key>
			<integer>0</integer>
			<key>DarkAfterBlendState</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>Blendalpha</key>
				<string>1.0</string>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_Mapy_AB_AB.mtsl2</string>
				<key>ScaleType</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>MaskPath</key>
				<array>
					<string>1554.png</string>
					<string>1554sc1.png</string>
					<string>PSNormal100.png</string>
					<string>1554sc2.png</string>
					<string>PSScreen100.png</string>
				</array>
				<key>CoverType</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
				</array>
				<key>MaterialAlpha</key>
				<array>
					<integer>100</integer>
					<integer>100</integer>
				</array>
			</dict>
		</array>
	</dict>
</plist>
