<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<integer>1</integer>
		<key>TonesColor</key>
		<string>#F2DCD0</string>
		<key>TonesAlpha</key>
        <integer>50</integer>
		<key>StaticsID</key>
		<string>S0001</string>
		<key>TonesTitle</key>
        <string>光斑</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>2</integer>
		<key>TonesColor</key>
		<string>#E9C4B3</string>
		<key>TonesAlpha</key>
        <integer>50</integer>
		<key>StaticsID</key>
		<string>S0002</string>
		<key>TonesTitle</key>
        <string>动感</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>3</integer>
		<key>TonesColor</key>
		<string>#E2AE8C</string>
		<key>TonesAlpha</key>
        <integer>50</integer>
		<key>StaticsID</key>
		<string>S0003</string>
		<key>TonesTitle</key>
        <string>旋焦</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>4</integer>
		<key>TonesColor</key>
		<string>#BB7F5E</string>
		<key>TonesAlpha</key>
        <integer>50</integer>
		<key>StaticsID</key>
		<string>S0004</string>
        <key>TonesTitle</key>
        <string>六边形</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>5</integer>
		<key>TonesColor</key>
		<string>#774B38</string>
		<key>TonesAlpha</key>
        <integer>40</integer>
		<key>StaticsID</key>
		<string>S0005</string>
		<key>TonesTitle</key>
        <string>爱心</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>6</integer>
		<key>TonesColor</key>
		<string>#E2AE8C</string>
		<key>TonesAlpha</key>
        <integer>40</integer>
		<key>StaticsID</key>
		<string>S0006</string>
		<key>TonesTitle</key>
        <string>水滴</string>

	</dict>
	<dict>
    	<key>ID</key>
    	<integer>7</integer>
    	<key>TonesColor</key>
    	<string>#E2AE8C</string>
    	<key>TonesAlpha</key>
        <integer>40</integer>
    	<key>StaticsID</key>
        <string>S0007</string>
        <key>TonesTitle</key>
        <string>柔焦</string>
    </dict>
    <dict>
        <key>ID</key>
        <integer>8</integer>
        <key>TonesColor</key>
        <string>#E2AE8C</string>
        <key>TonesAlpha</key>
        <integer>40</integer>
        <key>StaticsID</key>
        <string>S0008</string>
        <key>TonesTitle</key>
        <string>放射</string>
    </dict>
    <dict>
        <key>ID</key>
        <integer>9</integer>
        <key>TonesColor</key>
        <string>#E2AE8C</string>
        <key>TonesAlpha</key>
        <integer>40</integer>
        <key>StaticsID</key>
        <string>S0009</string>
        <key>TonesTitle</key>
        <string>马赛克</string>
    </dict>
</array>
</plist>
