<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DrawArray</key>
		<array>
			<dict>
				<key>stepIndex</key>
				<string>1</string>
				<key>filterID</key>
				<string>1011</string>
				<key>maxTextureLength</key>
				<string>1280</string>
				<key>fs</key>
				<string>0000_program_82.fs</string>
				<key>vs</key>
				<string>0000_program_16.vs</string>
				<key>inputArray</key>
				<array>
					<dict>
						<key>matchInputID</key>
						<string>0</string>
						<key>matchStepIndex</key>
						<string>0</string>
						<key>texture</key>
						<string></string>
						<key>type</key>
						<string>0</string>
					</dict>
					<dict>
						<key>matchInputID</key>
						<string>1</string>
						<key>matchStepIndex</key>
						<string>0</string>
						<key>texture</key>
						<string>0000_14.png</string>
						<key>type</key>
						<string>2</string>
					</dict>
				</array>
				<key>uniformValueArray</key>
				<array>
				</array>
			</dict>
			<dict>
				<key>stepIndex</key>
				<string>2</string>
				<key>filterID</key>
				<string>1013</string>
				<key>maxTextureLength</key>
				<string>1280</string>
				<key>fs</key>
				<string>0000_program_16.fs</string>
				<key>vs</key>
				<string>0000_program_16.vs</string>
				<key>inputArray</key>
				<array>
					<dict>
						<key>matchInputID</key>
						<string>0</string>
						<key>matchStepIndex</key>
						<string>1</string>
						<key>texture</key>
						<string></string>
						<key>type</key>
						<string>3</string>
					</dict>
				</array>
				<key>uniformValueArray</key>
				<array>
					<dict>
						<key>uniformName</key>
						<string>textureHeight</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>1440.0</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>textureWidth</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>1080.0</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>stepIndex</key>
				<string>3</string>
				<key>filterID</key>
				<string>1011</string>
				<key>maxTextureLength</key>
				<string>1280</string>
				<key>fs</key>
				<string>0000_program_61.fs</string>
				<key>vs</key>
				<string>0000_program_16.vs</string>
				<key>inputArray</key>
				<array>
					<dict>
						<key>matchInputID</key>
						<string>0</string>
						<key>matchStepIndex</key>
						<string>2</string>
						<key>texture</key>
						<string></string>
						<key>type</key>
						<string>3</string>
					</dict>
				</array>
				<key>uniformValueArray</key>
				<array>
					<dict>
						<key>uniformName</key>
						<string>textureHeight</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>1440.0</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>textureWidth</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>1080.0</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>sigma</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>2.707292</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>stepIndex</key>
				<string>4</string>
				<key>filterID</key>
				<string>1011</string>
				<key>maxTextureLength</key>
				<string>1280</string>
				<key>fs</key>
				<string>0000_program_64.fs</string>
				<key>vs</key>
				<string>0000_program_16.vs</string>
				<key>inputArray</key>
				<array>
					<dict>
						<key>matchInputID</key>
						<string>0</string>
						<key>matchStepIndex</key>
						<string>3</string>
						<key>texture</key>
						<string></string>
						<key>type</key>
						<string>3</string>
					</dict>
				</array>
				<key>uniformValueArray</key>
				<array>
					<dict>
						<key>uniformName</key>
						<string>textureHeight</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>1440.0</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>textureWidth</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>1080.0</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>sigma</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>2.707292</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>stepIndex</key>
				<string>5</string>
				<key>filterID</key>
				<string>1011</string>
				<key>maxTextureLength</key>
				<string>1280</string>
				<key>fs</key>
				<string>0000_program_34.fs</string>
				<key>vs</key>
				<string>0000_program_16.vs</string>
				<key>inputArray</key>
				<array>
					<dict>
						<key>matchInputID</key>
						<string>0</string>
						<key>matchStepIndex</key>
						<string>0</string>
						<key>texture</key>
						<string></string>
						<key>type</key>
						<string>0</string>
					</dict>
					<dict>
						<key>matchInputID</key>
						<string>1</string>
						<key>matchStepIndex</key>
						<string>4</string>
						<key>texture</key>
						<string></string>
						<key>type</key>
						<string>3</string>
					</dict>
				</array>
				<key>uniformValueArray</key>
				<array>
					<dict>
						<key>uniformName</key>
						<string>sigma_d</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>8.642640</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>sigma_r</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>0.080207</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>pass</string>
						<key>uniformType</key>
						<string>2</string>
						<key>uniformValue</key>
						<string>0</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>textureHeight</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>1440.0</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>textureWidth</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>1080.0</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>stepIndex</key>
				<string>6</string>
				<key>filterID</key>
				<string>1011</string>
				<key>maxTextureLength</key>
				<string>1280</string>
				<key>fs</key>
				<string>0000_program_34.fs</string>
				<key>vs</key>
				<string>0000_program_16.vs</string>
				<key>inputArray</key>
				<array>
					<dict>
						<key>matchInputID</key>
						<string>0</string>
						<key>matchStepIndex</key>
						<string>5</string>
						<key>texture</key>
						<string></string>
						<key>type</key>
						<string>3</string>
					</dict>
					<dict>
						<key>matchInputID</key>
						<string>1</string>
						<key>matchStepIndex</key>
						<string>4</string>
						<key>texture</key>
						<string></string>
						<key>type</key>
						<string>3</string>
					</dict>
				</array>
				<key>uniformValueArray</key>
				<array>
					<dict>
						<key>uniformName</key>
						<string>sigma_d</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>8.642640</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>sigma_r</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>0.080207</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>pass</string>
						<key>uniformType</key>
						<string>2</string>
						<key>uniformValue</key>
						<string>0</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>textureHeight</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>1440.0</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>textureWidth</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>1080.0</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>stepIndex</key>
				<string>7</string>
				<key>filterID</key>
				<string>1011</string>
				<key>maxTextureLength</key>
				<string>1280</string>
				<key>fs</key>
				<string>0000_program_10.fs</string>
				<key>vs</key>
				<string>0000_program_16.vs</string>
				<key>inputArray</key>
				<array>
					<dict>
						<key>matchInputID</key>
						<string>0</string>
						<key>matchStepIndex</key>
						<string>6</string>
						<key>texture</key>
						<string></string>
						<key>type</key>
						<string>3</string>
					</dict>
				</array>
				<key>uniformValueArray</key>
				<array>
					<dict>
						<key>uniformName</key>
						<string>vignetteCenter</string>
						<key>uniformType</key>
						<string>32</string>
						<key>uniformValue</key>
						<string>0.5,0.5</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>vignetteColor</string>
						<key>uniformType</key>
						<string>33</string>
						<key>uniformValue</key>
						<string>0.0,0.0,0.0</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>vignetteStart</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>0.3</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>vignetteEnd</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>0.75</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>mode</string>
						<key>uniformType</key>
						<string>2</string>
						<key>uniformValue</key>
						<string>0</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>textureHeight</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>1440.0</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>textureWidth</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>1080.0</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>stepIndex</key>
				<string>8</string>
				<key>filterID</key>
				<string>1013</string>
				<key>maxTextureLength</key>
				<string>1280</string>
				<key>fs</key>
				<string>0000_program_16.fs</string>
				<key>vs</key>
				<string>0000_program_16.vs</string>
				<key>inputArray</key>
				<array>
					<dict>
						<key>matchInputID</key>
						<string>0</string>
						<key>matchStepIndex</key>
						<string>7</string>
						<key>texture</key>
						<string></string>
						<key>type</key>
						<string>3</string>
					</dict>
				</array>
				<key>uniformValueArray</key>
				<array>
					<dict>
						<key>uniformName</key>
						<string>textureHeight</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>1440.0</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>textureWidth</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>1080.0</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>stepIndex</key>
				<string>9</string>
				<key>filterID</key>
				<string>1011</string>
				<key>maxTextureLength</key>
				<string>1280</string>
				<key>fs</key>
				<string>0000_program_61.fs</string>
				<key>vs</key>
				<string>0000_program_16.vs</string>
				<key>inputArray</key>
				<array>
					<dict>
						<key>matchInputID</key>
						<string>0</string>
						<key>matchStepIndex</key>
						<string>8</string>
						<key>texture</key>
						<string></string>
						<key>type</key>
						<string>3</string>
					</dict>
				</array>
				<key>uniformValueArray</key>
				<array>
					<dict>
						<key>uniformName</key>
						<string>textureHeight</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>1440.0</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>textureWidth</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>1080.0</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>sigma</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>2.187500</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>stepIndex</key>
				<string>10</string>
				<key>filterID</key>
				<string>1011</string>
				<key>maxTextureLength</key>
				<string>1280</string>
				<key>fs</key>
				<string>0000_program_64.fs</string>
				<key>vs</key>
				<string>0000_program_16.vs</string>
				<key>inputArray</key>
				<array>
					<dict>
						<key>matchInputID</key>
						<string>0</string>
						<key>matchStepIndex</key>
						<string>9</string>
						<key>texture</key>
						<string></string>
						<key>type</key>
						<string>3</string>
					</dict>
				</array>
				<key>uniformValueArray</key>
				<array>
					<dict>
						<key>uniformName</key>
						<string>textureHeight</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>1440.0</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>textureWidth</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>1080.0</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>sigma</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>2.187500</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>stepIndex</key>
				<string>11</string>
				<key>filterID</key>
				<string>1011</string>
				<key>maxTextureLength</key>
				<string>1280</string>
				<key>fs</key>
				<string>0000_program_40.fs</string>
				<key>vs</key>
				<string>0000_program_16.vs</string>
				<key>inputArray</key>
				<array>
					<dict>
						<key>matchInputID</key>
						<string>0</string>
						<key>matchStepIndex</key>
						<string>7</string>
						<key>texture</key>
						<string></string>
						<key>type</key>
						<string>3</string>
					</dict>
					<dict>
						<key>matchInputID</key>
						<string>1</string>
						<key>matchStepIndex</key>
						<string>10</string>
						<key>texture</key>
						<string></string>
						<key>type</key>
						<string>3</string>
					</dict>
				</array>
				<key>uniformValueArray</key>
				<array>
					<dict>
						<key>uniformName</key>
						<string>textureHeight</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>1440.0</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>textureWidth</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>1080.0</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>sigmaR</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>4.0</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>stepIndex</key>
				<string>12</string>
				<key>filterID</key>
				<string>1011</string>
				<key>maxTextureLength</key>
				<string>1280</string>
				<key>fs</key>
				<string>0000_program_43.fs</string>
				<key>vs</key>
				<string>0000_program_16.vs</string>
				<key>inputArray</key>
				<array>
					<dict>
						<key>matchInputID</key>
						<string>0</string>
						<key>matchStepIndex</key>
						<string>6</string>
						<key>texture</key>
						<string></string>
						<key>type</key>
						<string>3</string>
					</dict>
					<dict>
						<key>matchInputID</key>
						<string>1</string>
						<key>matchStepIndex</key>
						<string>4</string>
						<key>texture</key>
						<string></string>
						<key>type</key>
						<string>3</string>
					</dict>
				</array>
				<key>uniformValueArray</key>
				<array>
					<dict>
						<key>uniformName</key>
						<string>textureHeight</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>1440.0</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>textureWidth</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>1080.0</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>prethreshold</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>1.0</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>mode</string>
						<key>uniformType</key>
						<string>2</string>
						<key>uniformValue</key>
						<string>0</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>threshold</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>0.5</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>sigma_r</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>3.503500</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>stepIndex</key>
				<string>13</string>
				<key>filterID</key>
				<string>1011</string>
				<key>maxTextureLength</key>
				<string>1280</string>
				<key>fs</key>
				<string>0000_program_28.fs</string>
				<key>vs</key>
				<string>0000_program_16.vs</string>
				<key>inputArray</key>
				<array>
					<dict>
						<key>matchInputID</key>
						<string>0</string>
						<key>matchStepIndex</key>
						<string>12</string>
						<key>texture</key>
						<string></string>
						<key>type</key>
						<string>3</string>
					</dict>
					<dict>
						<key>matchInputID</key>
						<string>1</string>
						<key>matchStepIndex</key>
						<string>11</string>
						<key>texture</key>
						<string></string>
						<key>type</key>
						<string>3</string>
					</dict>
				</array>
				<key>uniformValueArray</key>
				<array>
					<dict>
						<key>uniformName</key>
						<string>textureHeight</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>1440.0</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>textureWidth</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>1080.0</string>
					</dict>
					<dict>
						<key>uniformName</key>
						<string>sigmaR</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>5.0</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>stepIndex</key>
				<string>14</string>
				<key>filterID</key>
				<string>1011</string>
				<key>maxTextureLength</key>
				<string>1280</string>
				<key>fs</key>
				<string>0000_program_90.fs</string>
				<key>vs</key>
				<string>0000_program_16.vs</string>
				<key>inputArray</key>
				<array>
					<dict>
						<key>matchInputID</key>
						<string>0</string>
						<key>matchStepIndex</key>
						<string>13</string>
						<key>texture</key>
						<string></string>
						<key>type</key>
						<string>3</string>
					</dict>
					<dict>
						<key>matchInputID</key>
						<string>3</string>
						<key>matchStepIndex</key>
						<string>1</string>
						<key>texture</key>
						<string></string>
						<key>type</key>
						<string>3</string>
					</dict>
					<dict>
						<key>matchInputID</key>
						<string>1</string>
						<key>matchStepIndex</key>
						<string>0</string>
						<key>texture</key>
						<string>0000_15.jpg</string>
						<key>type</key>
						<string>2</string>
					</dict>
					<dict>
						<key>matchInputID</key>
						<string>2</string>
						<key>matchStepIndex</key>
						<string>0</string>
						<key>texture</key>
						<string>0000_13.jpg</string>
						<key>type</key>
						<string>2</string>
					</dict>
				</array>
				<key>uniformValueArray</key>
				<array>
				</array>
			</dict>
			<dict>
				<key>stepIndex</key>
				<string>15</string>
				<key>filterID</key>
				<string>1011</string>
				<key>maxTextureLength</key>
				<string>1280</string>
				<key>fs</key>
				<string>0000_program_90.fs</string>
				<key>vs</key>
				<string>0000_program_16.vs</string>
				<key>inputArray</key>
				<array>
					<dict>
						<key>matchInputID</key>
						<string>0</string>
						<key>matchStepIndex</key>
						<string>14</string>
						<key>texture</key>
						<string></string>
						<key>type</key>
						<string>3</string>
					</dict>
					<dict>
						<key>matchInputID</key>
						<string>3</string>
						<key>matchStepIndex</key>
						<string>1</string>
						<key>texture</key>
						<string></string>
						<key>type</key>
						<string>3</string>
					</dict>
					<dict>
						<key>matchInputID</key>
						<string>1</string>
						<key>matchStepIndex</key>
						<string>0</string>
						<key>texture</key>
						<string>0000_15.jpg</string>
						<key>type</key>
						<string>2</string>
					</dict>
					<dict>
						<key>matchInputID</key>
						<string>2</string>
						<key>matchStepIndex</key>
						<string>0</string>
						<key>texture</key>
						<string>0000_13.jpg</string>
						<key>type</key>
						<string>2</string>
					</dict>
				</array>
				<key>uniformValueArray</key>
				<array>
				</array>
			</dict>
			<dict>
				<key>stepIndex</key>
				<string>16</string>
				<key>filterID</key>
				<string>1011</string>
				<key>fs</key>
				<string>0000_program_82.fs</string>
				<key>vs</key>
				<string>0000_program_16.vs</string>
				<key>inputArray</key>
				<array>
					<dict>
						<key>matchInputID</key>
						<string>0</string>
						<key>matchStepIndex</key>
						<string>15</string>
						<key>texture</key>
						<string></string>
						<key>type</key>
						<string>3</string>
					</dict>
					<dict>
						<key>matchInputID</key>
						<string>1</string>
						<key>matchStepIndex</key>
						<string>0</string>
						<key>texture</key>
						<string>0000_16.png</string>
						<key>type</key>
						<string>2</string>
					</dict>
				</array>
				<key>uniformValueArray</key>
				<array>
					<dict>
						<key>uniformName</key>
						<string>slider</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>0.0</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>stepIndex</key>
				<string>7</string>
				<key>filterID</key>
				<string>1099</string>
				<key>fs</key>
				<string>0000_program_82.fs</string>
				<key>vs</key>
				<string>0000_program_16.vs</string>
				<key>inputArray</key>
				<array>
					<dict>
						<key>matchInputID</key>
						<string>0</string>
						<key>matchStepIndex</key>
						<string>16</string>
						<key>texture</key>
						<string></string>
						<key>type</key>
						<string>3</string>
					</dict>
					<dict>
						<key>matchInputID</key>
						<string>1</string>
						<key>matchStepIndex</key>
						<string>0</string>
						<key>texture</key>
						<string>slider_0.png</string>
						<key>type</key>
						<string>2</string>
					</dict>
				</array>
				<key>uniformValueArray</key>
				<array>
					<dict>
						<key>uniformName</key>
						<string>slider</string>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformValue</key>
						<string>1.0</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
