<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FacePart</key>
		<array>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>41</integer>
				<key>MUType</key>
				<integer>2</integer>
				<key>ORGBA</key>
				<string>100,0,0,0,100</string>
				<key>Operation</key>
				<integer>1</integer>
				<key>Path</key>
				<string>mmy.png</string>
				<key>Rectangle</key>
				<string>540,400,296,120</string>
				<key>Type</key>
				<string>S</string>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYEBROW</string>
				<key>Gender</key>
				<string>F</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>40</integer>
				<key>MUType</key>
				<integer>2</integer>
				<key>ORGBA</key>
				<string>100,0,0,0,100</string>
				<key>Operation</key>
				<integer>0</integer>
				<key>Path</key>
				<string>mmz.png</string>
				<key>Rectangle</key>
				<string>185,400,296,120</string>
				<key>Type</key>
				<string>S</string>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYEBROW</string>
				<key>Gender</key>
				<string>F</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>41</integer>
				<key>MUType</key>
				<integer>2</integer>
				<key>ORGBA</key>
				<string>70,0,0,0,100</string>
				<key>Operation</key>
				<integer>1</integer>
				<key>Path</key>
				<string>mmy.png</string>
				<key>Rectangle</key>
				<string>540,400,296,120</string>
				<key>Type</key>
				<string>S</string>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYEBROW</string>
				<key>Gender</key>
				<string>M</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>40</integer>
				<key>MUType</key>
				<integer>2</integer>
				<key>ORGBA</key>
				<string>70,0,0,0,100</string>
				<key>Operation</key>
				<integer>0</integer>
				<key>Path</key>
				<string>mmz.png</string>
				<key>Rectangle</key>
				<string>185,400,296,120</string>
				<key>Type</key>
				<string>S</string>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYEBROW</string>
				<key>Gender</key>
				<string>M</string>
			</dict>
		</array>
		<key>ID</key>
		<integer>3200002</integer>
		<key>Name</key>
		<string>Unknown</string>
	</dict>
</array>
</plist>
