<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string></string>
			<key>SpecialFacelift</key>
			<integer>1</integer>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>VectorDiagram</string>
					<key>GeneratePlistPath</key>
					<string>operation140198767458816.plist</string>
					<key>MaskPath</key>
					<array>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140198767458816/2100_140198767460896.png</string>
							<key>Rectangle</key>
							<string>15,72,246,183;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140198767458816/2106_140198767460896.png</string>
							<key>Rectangle</key>
							<string>0,0,280,280;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140198767458816/2108_140198767460896.png</string>
							<key>Rectangle</key>
							<string>86,111,110,35;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140198767458816/2110_140198767460896.png</string>
							<key>Rectangle</key>
							<string>107,108,69,68;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140198767458816/2114_140198767460896.png</string>
							<key>Rectangle</key>
							<string>30,28,206,98;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140198767458816/2119_140198767460896.png</string>
							<key>Rectangle</key>
							<string>103,164,78,51;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140198767458816/2195_140198767460896.png</string>
							<key>Rectangle</key>
							<string>23,115,234,134;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140198767458816/2199_140198767460896.png</string>
							<key>Rectangle</key>
							<string>52,116,179,98;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140198767458816/2200_140198767460896.png</string>
							<key>Rectangle</key>
							<string>118,173,48,16;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140198767458816/2202_140198767460896.png</string>
							<key>Rectangle</key>
							<string>0,0,280,280;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140198767458816/2400_140198767460896.png</string>
							<key>Rectangle</key>
							<string>48,155,190,99;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140198767458816/2404_140198767460896.png</string>
							<key>Rectangle</key>
							<string>73,96,138,30;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140198767458816/2405_140198767460896.png</string>
							<key>Rectangle</key>
							<string>0,0,280,280;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140198767458816/2406_140198767460896.png</string>
							<key>Rectangle</key>
							<string>73,165,140,57;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
					</array>
					<key>ID</key>
					<string>105553137838912</string>
					<key>Name</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
