<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string></string>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Script</string>
					<key>SegmentType</key>
					<integer>0</integer>
					<key>EnableFace</key>
					<integer>1</integer>
					<key>EnableFaceSegmemt</key>
					<integer>0</integer>
					<key>EnableFaceDL3DReconstructor</key>
					<integer>1</integer>
					<key>PacketPath</key>
					<string>light</string>
					<key>ScriptPath</key>
					<string>light/facelight.lua</string>
					<key>ScriptVersionCode</key>
					<integer>0</integer>
					<key>ScriptLevel</key>
					<integer>0</integer>
					<key>ScriptName</key>
					<string>light</string>
					<key>UIPath</key>
					<string>light/facelight_ui.lua</string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
