<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string>Default</string>
			<key>FacePart</key>
			<array>
				<!-- 缩头;-->
				<dict>
					<key>Type</key>
					<string>Callback</string>
					<key>CallbackConfigurationPath</key>
					<string></string>
				</dict>
				<dict>
					<key>Type</key>
					<string>FaceliftV2</string>
					<key>MaskPath</key>
					<array>
						<dict>
							<key>Path</key>
							<string>0_1_140657168863144.png</string>
							<key>Rectangle</key>
							<string>103,165,77,46;</string>
							<key>GenerateType</key>
							<string>0</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>1_1_140657168863144.png</string>
							<key>Rectangle</key>
							<string>86,109,110,39;</string>
							<key>GenerateType</key>
							<string>0</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>2_1_140657168863144.png</string>
							<key>Rectangle</key>
							<string>19,26,243,243;</string>
							<key>GenerateType</key>
							<string>0</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>3_1_140657168863144.png</string>
							<key>Rectangle</key>
							<string>107,108,69,68;</string>
							<key>GenerateType</key>
							<string>0</string>
						</dict>
					</array>
					<key>Configure</key>
					<array>
						<dict>
							<key>MaskIndex</key>
							<string>0</string>
							<key>LiftControlType</key>
							<string>1</string>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
						<dict>
							<key>MaskIndex</key>
							<string>1</string>
							<key>LiftControlType</key>
							<string>0</string>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
						<dict>
							<key>MaskIndex</key>
							<string>2</string>
							<key>LiftControlType</key>
							<string>1</string>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
						<dict>
							<key>MaskIndex</key>
							<string>3</string>
							<key>LiftControlType</key>
							<string>22</string>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>1.00</string>
						</dict>
					</array>
					<key>FaceliftInfo</key>
					<array>
						<dict>
							<key>Index</key>
							<string>1</string>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>GnerateType</key>
							<string>0</string>
							<key>Name</key>
							<string>嘴巴</string>
							<key>FacemeshType</key>
							<string>2119</string>
							<key>FacemeshParameters</key>
							<string>-0.5,0,0,0,0</string>
							<key>Gender</key>
							<string>3</string>
						</dict>
						<dict>
							<key>Index</key>
							<string>0</string>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>GnerateType</key>
							<string>0</string>
							<key>Name</key>
							<string>眼睛</string>
							<key>FacemeshType</key>
							<string>2108</string>
							<key>FacemeshParameters</key>
							<string>0.85,0.8,0,-0.1,0</string>
							<key>Gender</key>
							<string>3</string>
						</dict>
						<dict>
							<key>Index</key>
							<string>1</string>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>GnerateType</key>
							<string>0</string>
							<key>Name</key>
							<string>脸型</string>
							<key>FacemeshType</key>
							<string>2199</string>
							<key>FacemeshParameters</key>
							<string>0.5,0,0,0.52,0.52,1,0,0.5,0.5,1,0,0.52,0.41,1,0.41,0.52,0,1,0.5,0.5,0,1,0.52,0.52,0,0,0,0,0.45,0.1,0.2,0,0.1,0.09,0.22,0,0.16,0.06,-0.05,0.06,0.16,0,0.22,0.09,0.1,0,0.2,0.1,0.45,0,0</string>
							<key>Gender</key>
							<string>3</string>
						</dict>
						<dict>
							<key>Index</key>
							<string>1</string>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>GnerateType</key>
							<string>0</string>
							<key>Name</key>
							<string>脸型</string>
							<key>FacemeshType</key>
							<string>2100</string>
							<key>FacemeshParameters</key>
							<string>0.25,0.25</string>
							<key>Gender</key>
							<string>3</string>
						</dict>
						<dict>
							<key>Index</key>
							<string>1</string>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>GnerateType</key>
							<string>0</string>
							<key>Name</key>
							<string>脸型</string>
							<key>FacemeshType</key>
							<string>2114</string>
							<key>FacemeshParameters</key>
							<string>0.2</string>
							<key>Gender</key>
							<string>3</string>
						</dict>
						<dict>
							<key>Index</key>
							<string>1</string>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>GnerateType</key>
							<string>0</string>
							<key>Name</key>
							<string>脸型</string>
							<key>FacemeshType</key>
							<string>2400</string>
							<key>FacemeshParameters</key>
							<string>0.75</string>
							<key>Gender</key>
							<string>3</string>
						</dict>
						<dict>
							<key>Index</key>
							<string>1</string>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>GnerateType</key>
							<string>0</string>
							<key>Name</key>
							<string>脸型</string>
							<key>FacemeshType</key>
							<string>2107</string>
							<key>FacemeshParameters</key>
							<string>0.25</string>
							<key>Gender</key>
							<string>3</string>
						</dict>
						<dict>
							<key>Index</key>
							<string>22</string>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>GnerateType</key>
							<string>0</string>
							<key>Name</key>
							<string>鼻子</string>
							<key>FacemeshType</key>
							<string>2110</string>
							<key>FacemeshParameters</key>
							<string>0.9,0.55,0.35,0,0.25</string>
							<key>Gender</key>
							<string>3</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</plist>
