<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<integer>1001</integer>
	<key>FilterPart</key>
	<array>
		<dict>
			<key>Type</key>
			<string>AnattaBeauty</string>
			<key>Filters</key>
			<array>
				<dict>
					<key>Name</key>
					<string>SourceInput</string>
				</dict>
				<!-- 拍后祛斑祛痘 -->
				<dict>
                        <key>Name</key>
                        <string>FleckFlawClean</string>
                        <key>NeedExternSkinMaskData</key>
                        <string>1</string>
                        <!-- 0:关；1:开 -->
						<key>FleckFlawSwitch</key>
                        <string>1</string>
                        <key>IsNeedOpt</key>
                        <string>1</string>
                        <key>FromSource</key>
                        <array>
                            <string>SourceInput</string>
                        </array>
                </dict>
				
				<!-- 磨皮 -->
				<dict>
					<key>Name</key>
					<string>SkinSmooth</string>
					<!-- Normal; 皮肤分割磨皮：SkinSegment; SkinSmoothIns-->
					<key>Type</key>
					<string>SkinSmoothDenoiseAndroid</string>
					<key>Switch</key>
					<string>1</string>
					<key>Alpha</key>
					<string>0.65</string>
					<key>SharpenAlpha</key>
					<string>0.6</string>
					<key>SharpenAlphaAll</key>
					<string>0.3</string>
					<!--勿删！！Normal磨皮使用 1:仅对脸部磨皮 0:全图磨皮-->
					<key>IsNeedFaceAndNeckMask</key>
					<string>1</string>
					<key>FromSource</key>
					<array>
						<string>FleckFlawClean</string>
					</array>
				</dict>
				
				<dict>
					<key>Name</key>
					<string>BrightEye</string>
					<key>BrightEyeType</key>
					<string>1</string>
					<key>BrightEyeSwitch</key>
					<string>1</string>
					<key>BrightEyeAlpha</key>
					<string>0.3</string>
					<key>FromSource</key>
					<array>
						<string>SkinSmooth</string>
					</array>
				</dict>

				<dict>
					<key>Name</key>
					<string>ShadowLight</string>
					<!-- 立体 2DSoftLight；2.5DLight -->
					<key>Type</key>
					<string>2DSoftLight</string>
					<key>Switch</key>
					<string>1</string>
					<key>Alpha</key>
					<string>0.2</string>
					<!-- 高光程度 -->
					<key>LightAlpha</key>
					<string>1.0</string>
					<!-- 阴影程度 -->
					<key>ShadowAlpha</key>
					<string>0.8</string>
					<key>FromSource</key>
					<array>
						<string>BrightEye</string>
					</array>
				</dict>
				<dict>
					<key>Name</key>
					<string>FaceColor</string>
					<key>Type</key>
					<string>FaceColor0060</string>
					<key>FaceColorAlpha1</key>
					<string>0.25</string>
					<key>FaceColor_lookUpPath</key>
					<string>Anatta/lookup_table.png</string>
					<key>FaceColor_lookUpOriginPath</key>
					<string>Anatta/lookup_table_origin.png</string>
					<key>FaceColor_lookUpGrayPath</key>
					<string>Anatta/lookup_table_gray.png</string>
					<key>FromSource</key>
					<array>
						<string>ShadowLight</string>
					</array>
				</dict>

				<dict>
					<key>Name</key>
					<string>ResultOutput</string>
					<key>FromSource</key>
					<array>
						<string>FaceColor</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
