<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>

		<key>faceColorAlpha</key>
        <integer>50</integer>

		<key>DrawArray</key>
		<array>
			<dict>
				<key>stepIndex</key>
				<string>1</string>
				<key>filterID</key>
				<string>1008</string>
				<key>fs</key>
				<string>MTFilter_Mapy_4x4.fs</string>
				<key>vs</key>
				<string>MTFilter_Base.vs</string>
				<key>inputArray</key>
				<array>
					<dict>
						<key>type</key>
						<string>0</string>
						<key>texture</key>
						<string></string>
						<key>matchInputID</key>
						<string>0</string>
					</dict>
					<dict>
						<key>type</key>
						<string>2</string>
						<key>texture</key>
						<string>887.png</string>
						<key>matchInputID</key>
						<string>1</string>
					</dict>
				</array>
				<key>uniformValueArray</key>
				<array>
					<!-- 滤镜基准图成图(开放滑杆): alpha。-->
					<!-- 注意：最终以客户端控制滑杆的默认值为准(即material.plist的每个滤镜id对应的Alpha) -->
					<dict>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformName</key>
						<string>alpha</string>
						<key>uniformValue</key>
						<string>1.0</string>
					</dict>
				</array>
			</dict>

			<dict>
				<key>stepIndex</key>
				<string>2</string>
				<key>filterID</key>
				<string>1008</string>
				<key>fs</key>
				<string>MTFilter_MaskMix2.fs</string>
				<key>vs</key>
				<string>MTFilter_Base2.vs</string>
				<key>inputArray</key>
				<array>
					<dict>
						<key>type</key>
						<string>3</string>
						<key>texture</key>
						<string></string>
						<key>matchInputID</key>
						<string>0</string>
						<key>matchStepIndex</key>
						<string>1</string>
					</dict>
					<dict>
						<key>type</key>
						<string>2</string>
						<key>texture</key>
						<string>887-sc.png</string>
						<key>cutType</key>
						<string>1</string>
						<key>matchInputID</key>
						<string>1</string>
					</dict>
					<dict>
						<key>type</key>
						<string>6</string>
						<key>texture</key>
						<string></string>
						<key>matchInputID</key>
						<string>2</string>
					</dict>
				</array>
			</dict>

			<dict>
				<key>stepIndex</key>
				<string>3</string>
				<key>filterID</key>
				<string>1008</string>
				<key>fs</key>
				<string>MTFilter_PsMix2.fs</string>
				<key>vs</key>
				<string>MTFilter_Base2.vs</string>
				<key>inputArray</key>
				<array>
					<dict>
						<key>type</key>
						<string>3</string>
						<key>texture</key>
						<string></string>
						<key>matchInputID</key>
						<string>0</string>
						<key>matchStepIndex</key>
						<string>2</string>
					</dict>
					<dict>
						<key>type</key>
						<string>2</string>
						<key>texture</key>
						<string>887-sc4.png</string>
						<key>cutType</key>
						<string>1</string>
						<key>matchInputID</key>
						<string>1</string>
					</dict>
					<dict>
						<key>type</key>
						<string>2</string>
						<key>texture</key>
						<string>PSNormal100.png</string>
						<key>matchInputID</key>
						<string>2</string>
					</dict>
				</array>
				<key>uniformValueArray</key>
				<array/>
			</dict>

			<dict>
				<key>stepIndex</key>
				<string>4</string>
				<key>filterID</key>
				<string>1008</string>
				<key>fs</key>
				<string>MTFilter_PsMix2.fs</string>
				<key>vs</key>
				<string>MTFilter_Base2.vs</string>
				<key>inputArray</key>
				<array>
					<dict>
						<key>type</key>
						<string>3</string>
						<key>texture</key>
						<string></string>
						<key>matchInputID</key>
						<string>0</string>
						<key>matchStepIndex</key>
						<string>3</string>
					</dict>
					<dict>
						<key>type</key>
						<string>2</string>
						<key>texture</key>
						<string>887-sc3.png</string>
						<key>cutType</key>
						<string>1</string>
						<key>matchInputID</key>
						<string>1</string>
					</dict>
					<dict>
						<key>type</key>
						<string>2</string>
						<key>texture</key>
						<string>PSScreen100.png</string>
						<key>matchInputID</key>
						<string>2</string>
					</dict>
				</array>
				<key>uniformValueArray</key>
				<array/>
			</dict>

			<dict>
				<key>stepIndex</key>
				<string>5</string>
				<key>filterID</key>
				<string>1008</string>
				<key>fs</key>
				<string>MTFilter_PsMix2.fs</string>
				<key>vs</key>
				<string>MTFilter_Base2.vs</string>
				<key>inputArray</key>
				<array>
					<dict>
						<key>type</key>
						<string>3</string>
						<key>texture</key>
						<string></string>
						<key>matchInputID</key>
						<string>0</string>
						<key>matchStepIndex</key>
						<string>4</string>
					</dict>
					<dict>
						<key>type</key>
						<string>2</string>
						<key>texture</key>
						<string>887-sc2.png</string>
						<key>cutType</key>
						<string>1</string>
						<key>matchInputID</key>
						<string>1</string>
					</dict>
					<dict>
						<key>type</key>
						<string>2</string>
						<key>texture</key>
						<string>PSOverlay100.png</string>
						<key>matchInputID</key>
						<string>2</string>
					</dict>
				</array>
			</dict>

			<dict>
				<key>stepIndex</key>
				<string>6</string>
				<key>filterID</key>
				<string>1008</string>
				<key>fs</key>
				<string>MTFilter_PsMix2.fs</string>
				<key>vs</key>
				<string>MTFilter_Base2.vs</string>
				<key>inputArray</key>
				<array>
					<dict>
						<key>type</key>
						<string>3</string>
						<key>texture</key>
						<string></string>
						<key>matchInputID</key>
						<string>0</string>
						<key>matchStepIndex</key>
						<string>5</string>
					</dict>
					<dict>
						<key>type</key>
						<string>2</string>
						<key>texture</key>
						<string>887-sc1.png</string>
						<key>cutType</key>
						<string>1</string>
						<key>matchInputID</key>
						<string>1</string>
					</dict>
					<dict>
						<key>type</key>
						<string>2</string>
						<key>texture</key>
						<string>PSNormal100.png</string>
						<key>matchInputID</key>
						<string>2</string>
					</dict>
				</array>
			</dict>

			<dict>
				<key>stepIndex</key>
				<string>7</string>
				<key>filterID</key>
				<string>1008</string>
				<key>fs</key>
				<string>MTFilter_AlphaMix.fs</string>
				<key>vs</key>
				<string>MTFilter_AlphaMix.vs</string>
				<key>inputArray</key>
				<array>
					<dict>
						<key>type</key>
						<string>3</string>
						<key>texture</key>
						<string></string>
						<key>matchInputID</key>
						<string>0</string>
						<key>matchStepIndex</key>
						<string>1</string>
					</dict>
					<dict>
						<key>type</key>
						<string>3</string>
						<key>texture</key>
						<string></string>
						<key>matchInputID</key>
						<string>1</string>
						<key>matchStepIndex</key>
						<string>6</string>
					</dict>
				</array>
				<key>uniformValueArray</key>
				<array>
					<!-- 背景程度(暂无开放滑杆，只能配置控制): backGroundAlpha -->
					<dict>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformName</key>
						<string>backGroundAlpha</string>
						<key>uniformValue</key>
						<string>1.0</string>
					</dict>
				</array>
			</dict>

		</array>
	</dict>
</array>
</plist>
