<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string>lashes1</string>
			<key>FacePart</key>
			<array>


			
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>jmz.png</string>
					<key>LocateMethod</key>
					<string>6</string>
					<key>FilterType</key>
					<string>3</string>
					<key>Rectangle</key>
					<string>260,493,163,121</string>
					<key>ORGBA</key>
					<string>100,78,30,28,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>14</string>
					<!-- 睫毛 -->
<key>MakeupCustomName</key>
<string>MUFACE_EYELASH</string>

				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>jmy.png</string>
					<key>LocateMethod</key>
					<string>7</string>
					<key>FilterType</key>
					<string>3</string>
					<key>Rectangle</key>
					<string>590,489,163,121</string>
					<key>ORGBA</key>
					<string>100,78,30,28,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>15</string>
					<!-- 睫毛 -->
<key>MakeupCustomName</key>
<string>MUFACE_EYELASH</string>

				</dict>



			</array>
		</dict>
	</array>
</plist>
